sudo: required

language: generic

services:
    - docker

before_install:
    - echo "start Creating an image with dockerfile"
    - docker build -t kuhoo2000/frontend -f Dockerfile.dev .

script:
    - docker run -e CI=true kuhoo2000/frontend npm run test -- --coverage

deploy:
    provider: elasticbeanstalk
    region: "ap-northeast-2"
    app: "frontend"
    env: "frontend-env"
    bucket_name: "elasticbeanstalk-ap-northeast-2-592357601050"
    bucket_path: "frontend"
    on:
        branch: master
    access_key_id: $AWS_ACCESS_KEY
    secret_access_key: $AWS_SECRET_KEY
